/*
Error: File to import not found or unreadable: components/testimonials.
        on line 74 of assets/sass/main.scss

69: @import "components/table";
70: @import "components/arrow";
71: @import "components/gallery";
72: @import "components/speakers";
73: @import "components/feature-icons";
74: @import "components/testimonials";
75: 
76: // Layout.
77: @import "layout/wrapper";

Backtrace:
assets/sass/main.scss:74
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/import_node.rb:44:in `import'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/home/tessa/gems/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/home/tessa/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/home/tessa/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/home/tessa/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/home/tessa/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/home/tessa/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/home/tessa/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/home/tessa/gems/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/home/tessa/gems/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: components/testimonials.\A         on line 74 of assets/sass/main.scss\A \A 69: @import \"components/table\";\A 70: @import \"components/arrow\";\A 71: @import \"components/gallery\";\A 72: @import \"components/speakers\";\A 73: @import \"components/feature-icons\";\A 74: @import \"components/testimonials\";\A 75: \A 76: // Layout.\A 77: @import \"layout/wrapper\";"; }
